*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background: none;
    /* font-style: normal; */
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}